/** SITE WIDE */
#Body{
	background-color: #030303;
    background-image: url("../img/Background_Image.png");
    background-size: 1200px 1000px;
    background-repeat: no-repeat;
    background-position: center top;
    margin-top: 20%;
}
#header_title{ color: white; }
#header_subtitle{ color: lightgray; }

/** LOGIN STRIP */
.login-strip{
    text-align: center;
    width: 20%;
    float: right;
    margin-bottom: 0px;
    margin-right: 15px;
    border: none;
    min-height: 20px;
    padding: 5px;
    background-color: #BDBDBD;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

/** HOME PAGE */
#home_carousel{
	height: 600px;
	width: 900px;
	margin: auto;
}
#home_news_body{
	margin: 15px;
}

/** HELPERS */
.opacity-high{ 	opacity: 0.8;   }

.pic-border-light{  border: 5px solid darkgray;  }

.text-center { text-align: center; }

.scrollable { overflow: auto; }

.offical-black-border{ border: 2px solid #030303; }

.center-div{
    width: 50%;
    margin: 0px;
}
.vertical-line {
    width: 1px;
    background-color: #030303;
    height: 45px;
    float: left;
}
.vertical-line-right {
    border-right-color: #030303;
    border-right-width: 1px;
    border-right-style: solid;
}
.smallpadding { padding:10px; }
}
.table-width-100 { width: 100%; }

table.table-stacked td { padding:20px; }

table.table-stacked tr {     
    background-color: #fff;
    border: 1px solid #030303;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    border-color: #030303; } 

#center-buttons{
    margin: 0 auto; 
    width: 35%; 
    text-align: center;
}

#center-buttons-standings{
    margin: 0 auto; 
    width: 27%; 
    text-align: center;
}
  

.center-div-text{
    text-align: center;
    vertical-align: middle;
}

.pill-width-leagues{
    width: 85px;
}

.secondary-button{
    background-color: #686867;
    border-color: #030303;
    color: #FFFFFF;
}

.primary-button{
    background-color: #FF6A00;
    border-color: #030303;
    color: #FFFFFF;

}