/** SITE WIDE */
#Body{
	background-color: #030303;
    background-image: url("../img/Background_Image.png");
    background-size: 1200px 1000px;
    background-repeat: no-repeat;
    background-position: center top;
    margin-top: 20%;
}
p{
    font-size: 1.1em !important;
}
#header_title{ color: white; }
#header_subtitle{ color: lightgray; }

.char_img{
    width: 64px;
    height: 64px;
}

/** LOGIN STRIP */
.login-strip{
    text-align: center;
    width: 20%;
    float: right;
    margin-bottom: 0px;
    margin-right: 15px;
    border: none;
    min-height: 20px;
    padding: 5px;
    background-color: #BDBDBD;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

/** NAVIGATION BAR */
.nav-bar-item{
    float: none;
    display: block;
    vertical-align: top;
    text-align: center;
    /* width will depend on number of items in nav */
    width: 14%;
    margin: auto;
}
.collapsed{
    display: none;
}

/** EDIT PROFILE */
/** hide various profile settings that RPGFL doesn't need to show/use */
#ui-id-3, #ui-id-4, #dnn_ctr_EditUser_Membership_membershipForm, #h2{
    display: none;
}

/** HOME PAGE */
#home_carousel{
	height: 600px;
	width: 900px;
	margin: auto;
}
#home_news_body{
	margin: 15px;
}

/** BATTLE PAGE*/
.voffset { margin-top: 350px;}
.backgroundcolorgray {background-color: #F2F2F2;}
.paddingleft {
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
.pillbackgroundcolor { background-color: #d9534f;}
.progress-bar-danger { background-color: #B20000;}

/** color codes for guilds*/
.guild1 {color:#D7DF01;}
.guild2 {color:#585858;}
.guild3{color:#04B404;}
.combat-log-color {color:#848484;}
.name-container-color{background-color:#1C1C1C;}


/** SKIRMISH PAGE **/
.text_skirmish_win{
    color: #088A08;
    font-weight: bold;
}
.text_skirmish_lose{
    color: #8A0808;
    font-weight: bold;
}

/** STANDINGS PAGE**/
#standings-button-center{ /* -- center-buttons-standings -- create a comment header similar to above for Home Page if this is specific to a page. Also rename to 'standings-button-center'. I would ask myself first, do we really need a specific class for this when another just like it is defined above? */
    margin: 0 auto; 
    width: 27%; 
    text-align: center;
}
/** VIEW LEAGUES PAGE**/
.leagues-pill-width{ /* -- pill-width-leagues -- similar to above, create a comment header like the Home Page if you're making page-specific styling. Same name style as above */
    width: 85px;
}

/**CREATE LEAGUE PAGE*/
#create-emails-width{
    width: 400px;
}

/**CHARACTER VIEWER PAGE*/
.viewer-buttons-width{
    width:105px;
}

table.table-padding td{
    padding: 10px
}

/**LEAGUE PAGE*/
.league-main-panel-width{
    width: 1206px;
}

.league-scrollable-height{
    height: 1500px;
}
/** HELPERS */
.font-verdana{ font-family:Verdana; }
.opacity-high{ 	opacity: 0.8;   }
.borderless { border: none; }
.pic-border-light{  border: 5px solid black;  }
.pic-border-assailant{ border: 5px solid #FF6A00;}
.pic-border-target { border: 5px solid red; }
.text-center { text-align: center; }
.text-right {text-align:right; }
.text-left {text-align:left;}
.scrollable { overflow: auto; }
.offical-black-border{ border: 2px solid #030303;}
.pill {width: 64px;}
.inline-block{display:inline-block;}
.toppadding{padding-top: 10px;}
.inline{display:inline;}
.topbotpadding {padding-top: 2px; padding-bottom: 2px;}
.statusbarsleft {width: 21px; height 21px; display: inline-block; float: right;}
.statusbarsright {width: 21px; height 21px; display: inline-block; float: left;}
.div-center{ /* -- center-div -- rename to 'div-center' */
    width: 50%;
    margin: 0px;
}
.vertical-line {
    width: 1px;
    background-color: #030303;
    height: 45px;
    float: left;
}
.vertical-line-right {
    border-right-color: #030303;
    border-right-width: 1px;
    border-right-style: solid;
}
.smallpadding { padding:10px; }
.table-width-100 { width: 100%; }
table.table-stacked td { padding:20px; }
table.table-stacked tr {     
    background-color: #fff;
    border: 1px solid #030303;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    border-color: #030303;
} 
#button-center{ /* -- center-buttons -- not entirely sure what this is for. Maybe rename to 'button-center'*/
    margin: 0 auto; 
    width: 35%; 
    text-align: center;
}

.div-center-text{ /* -- center-div-text -- rename to div-center-text */
    text-align: center;
    vertical-align: middle;
}
 
.secondary-button{
    background-color: #686867;
    border-color: #030303;
    color: #FFFFFF;
}
.primary-button {
    background-color: #FF6A00;
    border-color: #030303;
    color: #FFFFFF;
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.mobile-li-ui{
	display: inline-block;
	margin: 10px;
}
.mobile-ul-ui{
	list-style-type: none;
	text-align: center;
	margin-left: 0px;
}